body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 8px 24px;
    border-radius: 10px;
    font-size: 20px;
    background-color: antiquewhite;
}
#result-title{
    font-size: 24px;
}

.lose-msg{
    color:darkcyan;
}
.win-msg{
    color: coral;
}

.horizontal-container{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 48px;
}

.button-container{
    display: flex;
    gap: 36px;
}